.pass-container {
  text-align: left;

  .pass-header {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;

    .prof-img {
      width: 200px;
      position: relative;

      img {
        width: 100%;
      }

      svg {
        position: absolute;
        bottom: 0;
        right: 10px;
      }
    }
  }

  .exps-pass {
    width: 100%;
  }

  .buttons {
    width: 400px;
    margin: 0 auto;
  }
}
