.pass-container {
  text-align: left;
}

/* .pass-header inside .pass-container */
.pass-container .pass-header {
  display: flex;
  margin-bottom: 40px;
}

.pass-container .pass-header .doc {
  flex: 2;
  margin-right: 200px;
}

/* .prof-img inside .pass-header */
.pass-container .pass-header .prof-img {
  width: 200px;
  position: relative;
}

/* img inside .prof-img */
.pass-container .pass-header .prof-img img {
  width: 100%;
}

/* svg inside .prof-img */
.pass-container .pass-header .prof-img svg {
  position: absolute;
  bottom: 0;
  right: 10px;
}

/* .exps-pass inside .pass-container */
.pass-container .exps-pass {
  width: 100%;
  border-collapse: collapse;
}

/* .buttons inside .pass-container */
.pass-container .buttons {
  width: 400px;
  margin: 0 auto;

  margin-top: 50px;
}
