.acc {
  display: flex;
  margin: 60px;
}

#sections-container {
  width: 20%;
}

.sections {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    margin-bottom: 16px;
    padding: 32px 48px;
    background: #e7f5cc;
    color: #000;
    border-radius: 8px;
    margin-right: 20px;

    p {
      margin: 0;
    }
    svg {
      width: 32px;
      height: 32px;
    }
  }

  li.active {
    background: #fafafa;
    border-radius: 8px 0 0 8px;
    padding-right: 68px;
    margin-right: 0;
  }
}

.section-container {
  background: #fff;
  width: 100%;
}
